/* Comment */
/* Comment */
/* Comment */
@font-face {
  font-family: PopRegular;
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: PopBold;
  src: url("fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: PopBlack;
  src: url("fonts/Poppins/Poppins-Black.ttf");
}
body {
  color: #272830 !important;
  font-family: PopRegular;
  font-size: 14px;
  background-color: #d6dbdb;
  background: linear-gradient(180deg, #d6dbdb, #f6f2ef);
}
.navbar {
  margin: 0;
  padding: 50px 90px 0 0;
}
.navbar-nav li,
.navbar-nav li a {
  font-family: PopBold;
  font-size: 18px;
  color: #ffc176 !important;
  margin: 0;
  padding-left: 55px;
}
#wave {
  position: relative;
  top: 80%;
  margin-top: 15%;
  z-index: 1;
  object-fit: cover;
  pointer-events: none;
}
#title {
  position: fixed;
  left: 25%;
  bottom: 50%;
  font-size: 72px;
  color: #ffc176 !important;
  /*color: transparent !important;  */
  font-family: PopBlack;
}
.fill {
  height: 50vh;
}
.about {
  height: 100vh;
  background-color: rgb(255, 255, 255, 0.5);
}
/* Left Side */
.left {
  background-color: orange;
}
.big-y-padding {
  width: 85%;
  height: 73%;
}
.right {
  background-color: rgb(54, 58, 54);
}
.text {
  max-height: 290px;

  background-color: grey;
}
#profilepic {
  width: 199px;
  height: 172px;
}

/* Right Side */
/* Comment 
.skills {
  background-color: red;
  margin: 0;
  padding: 0 0 0 0;
}
.skills li {
  font-family: PopRegular;
  font-size: 18px;
  width: 91px;
  height: 43px;
  background-color: #272830;
  color: white;

  margin: 0;
  padding-left: 0px;
}
*/
.skills {
  background-color: red;
}
.skills li {
  font-family: PopRegular;
  font-size: 18px;
  background-color: #272830;
  color: white;
  width: 91px;
  height: 43px;
  text-align: center;
  /*margin: 0;
  padding-left: 0px;*/
}
#js {
  font-size: 14px;
}
.softskills li {
  /**/
  background-color: transparent;
}
.icons li {
  padding-left: 45px;
}
.icons li:first-child {
  padding-left: 0px;
}
