/* Comment */
/* Comment */
/* Comment */
@font-face {
  font-family: PopRegular;
  src: url("fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: PopBold;
  src: url("fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
  font-family: PopBlack;
  src: url("fonts/Poppins/Poppins-Black.ttf");
}
body {
  color: #272830 !important;
  font-family: PopRegular;
  font-size: 0.875rem;
  background-color: #d6dbdb;
  background: linear-gradient(180deg, #d6dbdb, #f6f2ef);
}
.navbar {
  /*height: 10vh;*/
  margin: 0;
  padding-right: 6vw;
  /*background-color: grey;*/
  padding: 50px 90px 0 0;
}
.navbar-nav li,
.navbar-nav li a {
  font-family: PopBold;
  font-size: 1rem;
  color: #ffc176 !important;
  margin: 0;
  padding-left: 55px;
}
/*           */
/*  Landing  */
/*   Page    */
/*           */
#wave {
  position: relative;
  top: 80%;
  margin-top: 15%;
  z-index: 1;
  object-fit: cover;
  pointer-events: none;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* this is what centers your element in the fixed wrapper*/
  display: flex;
  flex-flow: column nowrap;
  /* justify-content: center; */ /* aligns on vertical for column */
  align-items: center; /* aligns on horizontal for column */
}

#title {
  font-size: 4.5rem;
  color: #ffc176 !important;
  /*color: transparent !important;  */
  font-family: PopBlack;

  margin: 0;
  position: absolute;
  top: 45%;
  transform: translate(0, -50%);
}
/* #title {
  /* position: fixed;
  left: 50%;
  margin-left: -37.5%;
  bottom: 50%; * /
  font-size: 4.5rem;
  color: #ffc176 !important;
  / *color: transparent !important;  * /
  font-family: PopBlack;
} */
/*           */
/*  2nd page */
/*           */
.about {
  height: 100vh;
  /*background-color: black; */

  background-color: rgb(255, 255, 255, 0.5);
}

/*           */
/* Left Side */
/*           */
.left {
  /*          
  background-color: orange;  */
}
.left h2 {
  font-family: PopBold;
  color: #ffc176;
  font-size: 4rem;
}

.right {
  /*           
  background-color: rgb(54, 58, 54);            */
}
.text {
  /*background-color: grey;*/
  max-width: 40vw;
}
#profilepic {
  width: 199px;
  height: 172px;
}
/*           */
/* Right Side */
/*           */
.skills {
  /*           
  background-color: red;           */
}
.skills li {
  font-family: PopRegular;
  font-size: 1.125rem;
  background-color: #272830;
  color: white;
  width: 91px;
  height: 43px;
  text-align: center;
  vertical-align: middle;
  line-height: 43px;
  /*
   */
}
.skills li:hover {
  background-color: #ffc176;
}
#js {
  font-size: 0.875rem;
}
.softskills li {
  /**/
  background-color: transparent;
  font-size: 1rem;
}
.icons li {
  padding-left: 45px;
}
.icons li:first-child {
  padding-left: 0px;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }

  /* #title {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */
}

@media only screen and (max-width: 1000px) {
  /* Fix Skills size*/
  .skills li {
    width: 75px;
  }
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
  /* Fix Skills size*/
  .skills li {
    width: 60px;
  }

  #profilepic {
    width: 149px;
    height: 132px;
  }
}
